<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Russh</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">sa</property>
    <mapping resource="com/qdu/pojo/Reply.hbm.xml"/>
    <mapping resource="com/qdu/pojo/Message.hbm.xml"/>
    <mapping resource="com/qdu/pojo/Users.hbm.xml"/>
    <mapping resource="com/qdu/pojo/Blockers.hbm.xml"/>
    <mapping resource="com/qdu/pojo/Administer.hbm.xml"/>
    <mapping resource="com/qdu/pojo/Post.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
