<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
">

    
    <context:component-scan base-package="com.qdu.dao,com.qdu,pojo,com.qdu.service"/>
    <context:property-placeholder location="classpath:properties/jdbc.properties"/>
     
    <bean id="AdministerDaoImpl" class="com.qdu.dao.AdministerDaoImpl"></bean>
    <bean id="PostDaoImpl" class="com.qdu.dao.PostDaoImpl"></bean>
    <bean id="UsersDaoImpl" class="com.qdu.dao.UsersDaoImpl"></bean>
    <bean id="BlockersDaoImpl" class="com.qdu.dao.BlockersDaoImpl"></bean><!--
    <bean id="PostServiceImpl" class="com.qdu.service.PostServiceImpl"></bean>
    <bean id="AdministerServiceImpl" class="com.qdu.service.AdministerServiceImpl"></bean>-->
<!--    <bean id="UsersServiceImpl" class="com.qdu.service.UsersServiceImpl"></bean>-->
    <bean id="administer" class="com.qdu.pojo.Administer" />
    <bean id="Post" class="com.qdu.pojo.Post" />
    <bean id="Users" class="com.qdu.pojo.Users" />
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
         
    </bean>
     
    <bean id="springSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!--读取Hibernate核心配置文件-->
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.qdu.pojo.Users</value>
                <value>com.qdu.pojo.Post</value>
                <value>com.qdu.pojo.Administer</value>
                <value>com.qdu.pojo.Blockers</value>
                <value>com.qdu.pojo.Message</value>
                <value>com.qdu.pojo.Reply</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
                hibernate.show_sql=${hibernate.show_sql}
                hibernate.fomat_sql=${hibernate.fomat_sql}
            </value>
        </property>
    </bean>
     
    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="springSessionFactory"/>
    </bean>
     
    <tx:annotation-driven transaction-manager="txManager"/>

</beans>
